:root {
	--dark-theme-link: fuchsia;
	--dark-theme-background: #1e1e1e;
	--dark-theme-text: #f5eaea;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark-theme-background);
		color: var(--dark-theme-text);
	}

	a {
		color: var(--dark-theme-link);
	}
}

header {
	width: calc(100% - 2rem);
	text-align: left;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

header>img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

header > div {
	margin: 1rem 0 1rem 1rem;
}

header h1 {
	margin: 0;
}

body {
	max-width: 600px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: auto;
	padding: 1rem;
}

footer {
	text-align: center;
	margin: .5rem auto;
	color: #383838;
	font-size: .75rem;
}