:root {
	--dark-theme-link: fuchsia;
	--dark-theme-background: #1e1e1e;
	--dark-theme-text: #f5eaea;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark-theme-background);
		color: var(--dark-theme-text);
	}
	a {
		color: var(--dark-theme-link);
	}
}

header {
	width: calc(100% - 2rem);
	text-align: left;
	margin: 0 auto;
	padding: 1rem;
}

body {
	width: 720px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: auto;
}

footer {
	text-align: center;
	margin: .5rem auto;
	color: #383838;
	font-size: .75rem;
}

@media only screen and (max-width: 720px) {
	body {
		width: 100%;
	}
	header {
		text-align: center;
	}
  }
